

    #home
        margin-top: 6rem
        height: 40rem
        display: flex
        
        > div
            display: flex
            width: 50%
            justify-content: center
            align-items: center
            
        img
            width: 31rem
            height: 31rem
            transform: rotate(-4deg)
            flex-shrink: 0
            border-radius: 100%
            background: cover
            transition: 2s


        .text
            p
                font-size: 3.125rem
                color: #fff